<h1>Burger Shoppe</h1>



<h2>Welcome to the home of delicious plant based burgers. Order anything you'd like and we'll make it with plants!</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Order your burger:</label>
    <input type="text" id="ca" name="name">
  </div>
  <button type="submit">Add Burger</button>



<h2>Orders being crafted!</h2>
<ul>
  {{#each burgers}}
    {{#unless devoured}}
{{burger_name}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Delicious burgers devoured!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
{{burger_name}}
    {{/if}}
  {{/each}}
</ul>





  
</form>