<h1 class="header">Burger Shoppe</h1>


 
     
      <div class="container">
        <div class="row"> 
        <img class="img-responsive icon" src="./assets/img/hero.png">
</div>
{{!-- Add a burger --}}
 
<form class="create-form, text-center">

  <div class="form-group">
    <label for="ca">Order your burger:</label>
    <input type="text" id="ca" name="burger_name">
  </div>
  <button type="submit">Add Burger</button>

</form>
{{!-- Row for devoured and not devoured burgers --}}
<div class="row"> 
{{!-- Left side - not devoured --}}
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6"> 
<h2>Orders being crafted!</h2>
<ul>
  {{#each burgers}}
    {{#unless devoured}}
{{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>
</div>


{{!-- Right side - already devoured --}}
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6"> 
<h2>Delicious burgers devoured!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
 {{> burgers/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>
</div>

</div>


  
