<h1 class="header">Burger Shoppe</h1>


 <!-- Begin jumbotron -->
     <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <img src="../public/assets/img/burger_clipart.png"></div>img>
<h2 class="display-3">Welcome to the home of delicious plant based burgers. Order anything you'd like and we'll make it with plants!</h2>

{{!-- Add a burger --}}
<form class="create-form">

  <div class="form-group">
    <label for="ca">Order your burger:</label>
    <input type="text" id="ca" name="burger_name">
  </div>
  <button type="submit">Add Burger</button>

</form>
{{!-- Left side - not devoured --}}
<h2>Orders being crafted!</h2>
<ul>
  {{#each burgers}}
    {{#unless devoured}}
{{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>



{{!-- Right side - already devoured --}}
<h2>Delicious burgers devoured!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
 {{> burgers/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>





  
