.header {
  background-color: #147014;
  text-align: center;
  height: 70px;
  padding-top: 5px;
}

button {
  background-color: #147014;
  display: inline-block;
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 25px;
  padding: 5px 10px;
  font-size: 17px;
  border: none;
  border-radius: 5px;
}
